
.outer{
    padding-left:200px;
    margin-top: 100px;
    padding-bottom: 400px;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    gap:70px;
}
.about,.support,.Terms,.discover,.partners,#link{
    color: black;
     display: block;
     margin:7px 0px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    margin:20px 0px;
}