* {
    padding: 0px;
    margin: 0px;
}

.upper_navbar{
    background-color: #003580;
    text-decoration: none;
    color: #f2f6fa;
    padding-bottom:75px;
    padding-top: 21px;
    font-family: 'Segoe UI', sans-serif;
    align-items: baseline;


}
.upper_navbar.hover{
    cursor: pointer;
}
a{
    color: #f2f6fa;
    text-decoration:none;
}
#logo{
    padding-right:420px;
    padding-left:175px;
    font-size:25px;
    font-weight: bolder;
}
#curency{
    padding-right:45px;
    font-weight: 600;
}
#service{
    width:25px;
    height: 25px;
    padding-right:45px;
}
#coun {
    padding-right:45px;
    width: 25px;
    height: 25px;
    text-align: bottom;
}
#property{
    padding-right: 15px;
    font-weight: 500px;
}
img.hover{
  cursor: pointer;
}

#register ,#sign-in {
    padding: 9px;
    margin: 7px;
    background-color: #f2f6fa;
    color: #003580;
    border-radius: 4px;
    border: #003580;
    font-weight: 500;
}
.lower_navbar{
    align-items: baseline;
    gap: 10px;
    padding-left: 175px;
}
#bed,#flight,#taxi,#travel,#car,#giant{
    width:25px;
    height: 25px; 
    padding-right: 10px;   
}
.lower_navbar button{
    margin-top:15px;
    padding:10px;
    font-family:'Segoe UI', sans-serif ;
    background-color: #003580;
    color: #f2f6fa;
    margin-right: 20px;
     border:2px solid #f2f6fa;
    border-radius: 25px;
}
#heading{
    margin-right: 25px;
    display: inline;
    border:2px  solid #f2f6fa;
    border-radius: 5px;


}
.text{
    padding-top:50px;
    padding-left: 175px;
}
#text_F {
    font-size: 50px;
}
#text_S{
    font-size:20px;
    font-weight: 400;
}