.s_box{
    background-color: #003580;
    height:35px;
}
.inner_box{
    border-radius:10px;
    margin-left:175px;
    width:1150px;
    height:70px;
    background-color: #ffb700;
    display:flex;
}
.dest,.date,.people{
    display: flex;
    flex-direction: column;
}
.date{
    margin-left:230px;
    width:10%;
}
.people{
    width:10%;
    margin-left:210px;
}
.sea{
    margin-left:210px;
    margin-top: 5px;
    height: 60px;
    color: #f2f6fa;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size: larger;
    background-color: #0456c8;
    padding-top:15px;
    padding-bottom:19px;
    padding-left:15px;
    padding-right:15px;
    border-radius:5px;
}
.destination{
    margin:4px 4px 4px 4px;
    padding:20px 65% ;
    border-radius: 10px;
    border-color: #f2f6fa;
}
.tickbox-container{
    font-size: 1.1rem;
    margin-top: 20px;
margin-left: 11.8%;
}
.styled-checkbox{
    margin-bottom:0px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius:10px;
    color: #f2f6fa;
}