.dropdown-wrapper {
  position: relative;
  width: 325px;
  font-family: Arial, sans-serif;
}

.dropdown-summary {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-panel {
  position: absolute;
  top: 50px;
  left: 0;
  width:50px;
  height: 20px;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  border-radius: 8px;
  z-index: 10;
  padding: 18px;
  border: 1px solid #eee;
}

.dropdown-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.icon-btn {
  background: #f0f0f0;
  border: none;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  font-size: 18px;
  margin: 0 7px;
  cursor: pointer;
}

.count {
  font-size: 17px;
  min-width: 30px;
  text-align: center;
}

.done-btn {
  margin-top: 12px;
  background: #256be4;
  color: black;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.small-hint {
  color: black;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 11px;
}

.dropdown-arrow {
  margin-left: 10px;
  font-size: 13px;
}
